Repository CliMA/ClimaOcean.jl, pull requests merged in 2024-12, with the labels that each got.

#287 Load JRA55 data correctly when time indices wrap around
  src/DataWrangling/JRA55.jl
  test/test_jra55.jl
Labels: data wrangling

#297 (0.2.5) Update compat to Oceananigans 0.95
  Project.toml
  docs/Project.toml
  examples/single_column_os_papa_simulation.jl
  experiments/one_degree_calibration/distributed_perfect_one_degree_model_calibration.jl
  experiments/one_degree_calibration/gm_one_degree_model_calibration.jl
  experiments/one_degree_calibration/inspect_one_degree_near_global_simulation.jl
  experiments/one_degree_calibration/one_degree_near_global_simulation.jl
  experiments/one_degree_calibration/perfect_one_degree_model_calibration.jl
  src/Diagnostics.jl
  src/OceanSeaIceModels/CrossRealmFluxes/ocean_sea_ice_surface_fluxes.jl
  src/OceanSeaIceModels/ocean_sea_ice_model.jl
  src/OceanSimulations/OceanSimulations.jl
  test/test_ecco.jl
Labels: build docs

#311 Fix ECCOrestoring show method
  src/DataWrangling/ECCO/ECCO_restoring.jl
Labels: bug

#319 Add JRA55 in docs
  docs/make.jl
  docs/src/library/internals.md
  docs/src/library/public.md
  src/DataWrangling/JRA55.jl
Labels: documentation, build docs

#315 Fix axis labels in near-global example + Docstring rendering + Few typos
  docs/make.jl
  examples/near_global_ocean_simulation.jl
  src/Bathymetry.jl
  src/OceanSeaIceModels/CrossRealmFluxes/surface_temperature.jl
Labels: build docs

#320 Better bathymetry plot in near-global example
  examples/near_global_ocean_simulation.jl
Labels: documentation
