Repository CliMA/ClimaOcean.jl, pull requests merged in 2024-11, with the labels that each got.

#156 Nuke Docs via GithubActions + add compat for CairoMakie v0.11, v0.12
  .buildkite/pipeline.yml
  .github/workflows/DocPreviewCleanup.yml
  .github/workflows/Documenter.yml
  docs/Project.toml
  docs/make.jl
  docs/make_without_examples.jl
  examples/generate_atmos_dataset.jl
  examples/generate_bathymetry.jl
  examples/generate_surface_fluxes.jl
  examples/inspect_ecco_data.jl
  examples/mediterranean_simulation_with_ecco_restoring.jl
  examples/near_global_ocean_simulation.jl
  examples/single_column_os_papa_simulation.jl
  experiments/omip_components.jl
  experiments/plot_freely_decaying_simulation.jl
  src/Bathymetry.jl
  src/DataWrangling/JRA55.jl
  src/OceanSeaIceModels/CrossRealmFluxes/CrossRealmFluxes.jl
  src/OceanSeaIceModels/CrossRealmFluxes/atmosphere_ocean_fluxes.jl
  src/OceanSeaIceModels/CrossRealmFluxes/latitude_dependent_albedo.jl
  src/OceanSeaIceModels/CrossRealmFluxes/radiation.jl
  src/OceanSeaIceModels/CrossRealmFluxes/tabulated_albedo.jl
  src/OceanSeaIceModels/PrescribedAtmospheres.jl
  src/OceanSeaIceModels/minimum_temperature_sea_ice.jl
  src/OceanSeaIceModels/ocean_sea_ice_model.jl
  src/OceanSimulations/OceanSimulations.jl
  test/runtests_setup.jl
  test/test_bathymetry.jl
  test/test_ecco.jl
  test/test_jra55.jl
  test/test_ocean_sea_ice_model_parameter_space.jl
  test/test_simulations.jl
Labels: documentation, Run examples

#190 Update climacommon to 2024_10_09
  .buildkite/pipeline.yml
Labels: Run examples

#222 Clean up one degree simulation + docstrings + bug w `ECCORestoring`
  experiments/one_degree_simulation/one_degree_simulation.jl
  src/Bathymetry.jl
  src/DataWrangling/ECCO/ECCO.jl
  src/DataWrangling/ECCO/ECCO_metadata.jl
  src/DataWrangling/ECCO/ECCO_restoring.jl
  src/DataWrangling/JRA55.jl
  src/DataWrangling/inpaint_mask.jl
  src/OceanSeaIceModels/CrossRealmFluxes/atmosphere_ocean_fluxes.jl
  src/OceanSeaIceModels/CrossRealmFluxes/latitude_dependent_albedo.jl
  src/OceanSeaIceModels/CrossRealmFluxes/radiation.jl
  src/OceanSeaIceModels/CrossRealmFluxes/roughness_lengths.jl
  src/OceanSeaIceModels/CrossRealmFluxes/sea_ice_ocean_fluxes.jl
  src/OceanSeaIceModels/CrossRealmFluxes/seawater_saturation_specific_humidity.jl
  src/OceanSeaIceModels/CrossRealmFluxes/similarity_theory_turbulent_fluxes.jl
  src/OceanSeaIceModels/CrossRealmFluxes/stability_functions.jl
  src/OceanSeaIceModels/CrossRealmFluxes/tabulated_albedo.jl
  src/OceanSeaIceModels/minimum_temperature_sea_ice.jl
  src/OceanSeaIceModels/ocean_sea_ice_model.jl
  src/OceanSeaIceModels/time_step_ocean_sea_ice_model.jl
  src/OceanSimulations/OceanSimulations.jl
  test/test_bathymetry.jl
  test/test_ecco.jl
Labels: bug, global simulations 🌎

#137 ImmersedBoundaryCondition for drag, take 2
  docs/make.jl
  examples/generate_bathymetry.jl
  examples/generate_surface_fluxes.jl
  examples/single_column_os_papa_simulation.jl
  src/DataWrangling/ECCO/ECCO.jl
  src/DataWrangling/ECCO/ECCO_mask.jl
  src/OceanSimulations/OceanSimulations.jl
Labels: Built Docs

#228 Remove literated examples; a try
  README.md
  docs/make.jl
  docs/src/index.md
  examples/near_global_ocean_simulation.jl
  src/Bathymetry.jl
  src/ClimaOcean.jl
  src/DataWrangling/ECCO/ECCO_restoring.jl
  src/DataWrangling/inpaint_mask.jl
  src/VerticalGrids.jl
Labels: Built Docs

#234 Enforce `deploy_config = Buildkite()`
  docs/make.jl
Labels: Built Docs

#236 Add the near-global example in the Docs
  docs/make.jl
Labels: Built Docs

#238 More examples
  docs/make.jl
Labels: Built Docs

#239 Some cleanup + better plots for near-global
  examples/generate_bathymetry.jl
  examples/inspect_ecco_data.jl
  examples/near_global_ocean_simulation.jl
  examples/single_column_os_papa_simulation.jl
Labels: Built Docs

#245 Fix major basin removals on Periodic longitudes
  Project.toml
  src/Bathymetry.jl
Labels: bathymetry ⛰️

#247 Put nice formatting in the README + new docs landing page
  README.md
  docs/src/index.md
  examples/generate_bathymetry.jl
  examples/near_global_ocean_simulation.jl
Labels: build docs

#255 Merge `MinimumTemperatureSeaIce` and `FreezingLimitedOceanTemperature`
  examples/near_global_ocean_simulation.jl
  experiments/mesoscale_resolving_omip/lat_lon_near_global_simulation.jl
  experiments/mesoscale_resolving_omip/prototype_omip_simulation.jl
  src/ClimaOcean.jl
  src/OceanSeaIceModels/OceanSeaIceModels.jl
  src/OceanSeaIceModels/freezing_limited_ocean_temperature.jl
  src/OceanSeaIceModels/minimum_temperature_sea_ice.jl
  src/OceanSeaIceModels/ocean_sea_ice_model.jl
  test/test_ocean_sea_ice_model_parameter_space.jl
  test/test_simulations.jl
  test/test_surface_fluxes.jl
Labels: build docs

#250 More straightforward text label for ECCO visualization
  examples/inspect_ecco_data.jl
Labels: build docs

#258 Fluxes tests were not active + various bugfixes
  Project.toml
  src/OceanSeaIceModels/CrossRealmFluxes/atmosphere_ocean_fluxes.jl
  src/OceanSeaIceModels/CrossRealmFluxes/atmosphere_sea_ice_fluxes.jl
  src/OceanSeaIceModels/OceanSeaIceModels.jl
  src/OceanSeaIceModels/PrescribedAtmospheres.jl
  src/OceanSeaIceModels/freezing_limited_ocean_temperature.jl
  src/OceanSeaIceModels/time_step_ocean_sea_ice_model.jl
  test/runtests.jl
  test/test_surface_fluxes.jl
Labels: tests

#264 Avoid extra step in computing turbulent fluxes
  src/OceanSeaIceModels/CrossRealmFluxes/atmosphere_ocean_fluxes.jl
Labels: build docs

#262 Speed up near global example
  docs/Project.toml
  examples/near_global_ocean_simulation.jl
Labels: build docs

#268 Better plot for single-column example
  docs/Project.toml
  docs/make.jl
  examples/single_column_os_papa_simulation.jl
Labels: build docs

#171 Just one `timeout_in_minutes`
  .buildkite/examples_build.yml
Labels: build docs
