Repository CliMA/ClimaOcean.jl, pull requests merged in 2025-05, with the labels that each got.

#499 Improve examples a bit
  docs/make.jl
  examples/one_degree_simulation.jl
Labels: build docs

#512 Do not remove Copernicus files before downloading
  ext/ClimaOceanPythonCallExt.jl
Labels: data wrangling, extensions 🧬

#517 Add penetrating radiation forcing to temperature
  Project.toml
  src/DataWrangling/metadata.jl
  src/OceanSeaIceModels/InterfaceComputations/assemble_net_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/interface_states.jl
  src/OceanSeaIceModels/InterfaceComputations/interpolate_atmospheric_state.jl
  src/OceanSeaIceModels/InterfaceComputations/radiation.jl
  src/OceanSimulations/OceanSimulations.jl
  src/OceanSimulations/barotropic_potential_forcing.jl
  src/OceanSimulations/ocean_simulation.jl
  src/OceanSimulations/radiative_forcing.jl
Labels: enhancement, build docs, atmosphere-ocean coupling ⛅️ 🌊

#520 Add wind-dependent Charnock coefficient
  src/OceanSeaIceModels/InterfaceComputations/roughness_lengths.jl
  src/OceanSeaIceModels/InterfaceComputations/similarity_theory_turbulent_fluxes.jl
Labels: enhancement, build docs, atmosphere-ocean coupling ⛅️ 🌊

#518 Add Bathymetry metadata to allow using diverse bathymetry datasets
  Project.toml
  src/Bathymetry.jl
  src/ClimaOcean.jl
  src/DataWrangling/DataWrangling.jl
  src/DataWrangling/EN4/EN4.jl
  src/DataWrangling/ETOPO/ETOPO.jl
  src/DataWrangling/metadata.jl
  src/DataWrangling/metadata_field.jl
  test/runtests.jl
  test/runtests_setup.jl
  test/test_bathymetry.jl
  test/test_distributed_utils.jl
  test/test_downloading.jl
  test/test_jra55.jl
Labels: bathymetry ⛰️, data wrangling

#530 Use DocumenterCitations for proper citing in docs
  docs/Project.toml
  docs/climaocean.bib
  docs/make.jl
  docs/src/references.md
  src/OceanSeaIceModels/InterfaceComputations/roughness_lengths.jl
  src/OceanSeaIceModels/InterfaceComputations/similarity_theory_turbulent_fluxes.jl
Labels: documentation, build docs

#526 Add computation of neutral bulk coefficients to docs
  Project.toml
  docs/climaocean.bib
  docs/make.jl
  docs/src/index.md
  docs/src/interface_fluxes.md
  docs/src/leftover.md
  docs/src/library/internals.md
  docs/src/library/public.md
  examples/idealized_single_column_simulation.jl
  examples/near_global_ocean_simulation.jl
  src/ClimaOcean.jl
  src/DataWrangling/metadata.jl
  src/OceanSeaIceModels/InterfaceComputations/InterfaceComputations.jl
  src/OceanSeaIceModels/InterfaceComputations/atmosphere_ocean_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/atmosphere_sea_ice_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/coefficient_based_turbulent_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/component_interfaces.jl
  src/OceanSeaIceModels/InterfaceComputations/compute_interface_state.jl
  src/OceanSeaIceModels/InterfaceComputations/interface_states.jl
  src/OceanSeaIceModels/InterfaceComputations/latitude_dependent_albedo.jl
  src/OceanSeaIceModels/InterfaceComputations/roughness_lengths.jl
  src/OceanSeaIceModels/InterfaceComputations/similarity_theory_turbulent_fluxes.jl
  src/OceanSeaIceModels/OceanSeaIceModels.jl
  src/OceanSeaIceModels/PrescribedAtmospheres.jl
  src/OceanSeaIceModels/ocean_sea_ice_model.jl
  src/OceanSimulations/ocean_simulation.jl
  src/OceanSimulations/radiative_forcing.jl
  test/test_surface_fluxes.jl
Labels: documentation, build docs, atmosphere-ocean coupling ⛅️ 🌊

#532 Delete docs/src/leftover.md
  docs/src/leftover.md
Labels: documentation, cleanup 🧹

#533 Add to some of the text and fix progress for one degree simulation
  examples/one_degree_simulation.jl
Labels: build docs

#536 Add JRA55 references + fix Edson stability function latex rendering in docstring
  docs/climaocean.bib
  src/DataWrangling/DataWrangling.jl
  src/DataWrangling/JRA55/JRA55_field_time_series.jl
  src/OceanSeaIceModels/InterfaceComputations/similarity_theory_turbulent_fluxes.jl
Labels: documentation

#537 Export datasets top level
  examples/ecco_inspect_temperature_salinity.jl
  examples/ecco_mixed_layer_depth.jl
  examples/mediterranean_simulation_with_ecco_restoring.jl
  examples/near_global_ocean_simulation.jl
  examples/one_degree_simulation.jl
  examples/single_column_os_papa_simulation.jl
  experiments/one_degree_simulation/one_degree_simulation.jl
  src/ClimaOcean.jl
  src/DataWrangling/DataWrangling.jl
  src/DataWrangling/metadata.jl
  test/test_ecco2_daily.jl
  test/test_ecco2_monthly.jl
Labels: build docs, user interface, data wrangling

#542 Run the hello-global-ocean example in Docs
  README.md
  docs/src/index.md
Labels: documentation, build docs
