Repository CliMA/ClimaOcean.jl, pull requests merged in 2025-04, with the labels that each got.

#437 Add support for multi-year JRA55
  Project.toml
  src/DataWrangling/JRA55/JRA55.jl
  src/DataWrangling/JRA55/JRA55_field_time_series.jl
  src/DataWrangling/JRA55/JRA55_metadata.jl
  src/DataWrangling/JRA55/JRA55_prescribed_atmosphere.jl
  src/DataWrangling/metadata.jl
  test/runtests.jl
  test/test_jra55.jl
  test/test_surface_fluxes.jl
Labels: data wrangling

#460 Clean up one degree simulation
  docs/make.jl
  examples/one_degree_simulation.jl
Labels: build docs

#362 One degree example enhancement
  examples/one_degree_simulation.jl
  src/OceanSimulations/ocean_simulation.jl
Labels: documentation, build docs

#388 Fixes docs that don't build on `main`
  examples/generate_surface_fluxes.jl
  examples/near_global_ocean_simulation.jl
  examples/one_degree_simulation.jl
  examples/single_column_os_papa_simulation.jl
  experiments/arctic_simulation.jl
  src/OceanSeaIceModels/InterfaceComputations/assemble_net_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/component_interfaces.jl
  src/OceanSeaIceModels/InterfaceComputations/sea_ice_ocean_fluxes.jl
  test/test_surface_fluxes.jl
Labels: build docs

#393 Interpolate bathymetry based on criteria, including combination of criteria
  idea.jl
  src/Bathymetry.jl
Labels: bathymetry ⛰️

#480 Generalize/Refactor ECCOrestoring 👉🏽 DatasetRestoring to work with any dataset
  Project.toml
  examples/one_degree_simulation.jl
  experiments/one_degree_simulation/one_degree_simulation.jl
  src/ClimaOcean.jl
  src/DataWrangling/DataWrangling.jl
  src/DataWrangling/ECCO/ECCO.jl
  src/DataWrangling/ECCO/ECCO_restoring.jl
  src/DataWrangling/EN4/EN4_metadata.jl
  src/DataWrangling/restoring.jl
  test/test_diagnostics.jl
  test/test_ecco4_en4.jl
Labels: enhancement, data wrangling, cleanup 🧹

#486 DatasetRestoring only via Metadata
  src/DataWrangling/metadata.jl
  src/DataWrangling/restoring.jl
  test/test_ecco4_en4.jl
  test/test_jra55.jl
Labels: data wrangling

#487 Remove trailing spaces
  docs/make.jl
  examples/generate_bathymetry.jl
  examples/mediterranean_simulation_with_ecco_restoring.jl
  experiments/flux_climatology/flux_climatology.jl
  src/DataWrangling/JRA55/JRA55.jl
  src/DataWrangling/JRA55/JRA55_field_time_series.jl
  src/DataWrangling/JRA55/JRA55_prescribed_atmosphere.jl
  src/Diagnostics/mixed_layer_depth.jl
  src/InitialConditions/InitialConditions.jl
  src/InitialConditions/diffuse_tracers.jl
  src/OceanSeaIceModels/InterfaceComputations/InterfaceComputations.jl
  src/OceanSeaIceModels/InterfaceComputations/assemble_net_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/atmosphere_sea_ice_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/component_interfaces.jl
  src/OceanSeaIceModels/InterfaceComputations/compute_interface_state.jl
  src/OceanSeaIceModels/InterfaceComputations/interface_states.jl
  src/OceanSeaIceModels/InterfaceComputations/interpolate_atmospheric_state.jl
  src/OceanSeaIceModels/InterfaceComputations/latitude_dependent_albedo.jl
  src/OceanSeaIceModels/InterfaceComputations/radiation.jl
  src/OceanSeaIceModels/InterfaceComputations/roughness_lengths.jl
  src/OceanSeaIceModels/InterfaceComputations/sea_ice_ocean_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/similarity_theory_turbulent_fluxes.jl
  src/OceanSeaIceModels/InterfaceComputations/tabulated_albedo.jl
  src/OceanSeaIceModels/PrescribedAtmospheres.jl
  src/OceanSeaIceModels/time_step_ocean_sea_ice_model.jl
  src/OceanSimulations/barotropic_potential_forcing.jl
  src/OceanSimulations/ocean_simulation.jl
  src/SeaIceSimulations.jl
  src/VerticalGrids.jl
  test/test_surface_fluxes.jl
Labels: cleanup 🧹

#466 Fix docs + examples
  .buildkite/examples_build.yml
  docs/make.jl
  docs/src/library/internals.md
  docs/src/library/public.md
  examples/arctic_night.jl
  examples/generate_surface_fluxes.jl
  examples/idealized_single_column_simulation.jl
  examples/near_global_ocean_simulation.jl
  examples/one_degree_simulation.jl
  examples/single_column_os_papa_simulation.jl
  src/DataWrangling/JRA55/JRA55_field_time_series.jl
  src/DataWrangling/masking.jl
  src/DataWrangling/metadata.jl
Labels: documentation, build docs

#494 Tweak enforcement of minimum_depth + use kernel
  src/Bathymetry.jl
Labels: bathymetry ⛰️
