Repository CliMA/ClimaOcean.jl, pull requests merged in 2025-07, with the labels that each got.

#579 Fix sign error on stability variable
  Project.toml
  src/OceanSeaIceModels/InterfaceComputations/similarity_theory_turbulent_fluxes.jl
Labels: bug, build docs, atmosphere-ocean coupling ⛅️ 🌊

#574 Adapt to Oceananigans v0.97.0
  Project.toml
  README.md
  docs/Project.toml
  docs/src/index.md
  docs/src/interface_fluxes.md
  examples/ecco_mixed_layer_depth.jl
  examples/inspect_JRA55_data.jl
  examples/mediterranean_simulation_with_ecco_restoring.jl
  examples/near_global_ocean_simulation.jl
  examples/one_degree_simulation.jl
  examples/single_column_os_papa_simulation.jl
  experiments/arctic_simulation.jl
  experiments/one_degree_calibration/distributed_perfect_one_degree_model_calibration.jl
  experiments/one_degree_calibration/gm_one_degree_model_calibration.jl
  experiments/one_degree_calibration/inspect_one_degree_near_global_simulation.jl
  experiments/one_degree_calibration/perfect_one_degree_model_calibration.jl
  src/DataWrangling/JRA55/JRA55.jl
Labels: build docs, dependencies

#583 Drop ClimaOcean.GridUtils in favor of Oceananigans.Grids coordinate_utils since Oceananigans 0.97.2
  Project.toml
  docs/Project.toml
  docs/src/library/internals.md
  docs/src/library/public.md
  docs/src/vertical_grids.md
  examples/download_glorys_data.jl
  examples/mediterranean_simulation_with_ecco_restoring.jl
  examples/near_global_ocean_simulation.jl
  examples/one_degree_simulation.jl
  experiments/arctic_simulation.jl
  experiments/coupled_simulation/ocean_sea_ice_coupled_simulation.jl
  experiments/one_degree_simulation/one_degree_simulation.jl
  src/ClimaOcean.jl
  src/GridUtils.jl
Labels: build docs

#588 Patch required for Oceananigans >=0.97.4
  CondaPkg.toml
  Project.toml
  README.md
  experiments/flux_climatology/flux_climatology.jl
  ext/ClimaOceanPythonCallExt.jl
  src/DataWrangling/JRA55/JRA55_field_time_series.jl
  src/DataWrangling/metadata_field_time_series.jl
  src/Diagnostics/mixed_layer_depth.jl
  test/runtests_setup.jl
Labels: dependencies

#573 Use zstar in examples
  .buildkite/examples_build.yml
  examples/near_global_ocean_simulation.jl
  examples/one_degree_simulation.jl
  experiments/arctic_simulation.jl
  experiments/one_degree_calibration/one_degree_near_global_simulation.jl
  experiments/one_degree_calibration/perfect_one_degree_model_calibration.jl
  src/OceanSeaIceModels/InterfaceComputations/interface_states.jl
Labels: build docs

#586 Change `ECCO_PASSWORD` to `ECCO_WEBDAV_PASSWORD`
  .buildkite/pipeline.yml
  .github/workflows/ci.yml
  Project.toml
  src/DataWrangling/DataWrangling.jl
  src/DataWrangling/ECCO/ECCO.jl
  src/DataWrangling/ECCO/README.md
Labels: data wrangling
